In [38]:
import pandas as pd

In [39]:
import pandas as pd
df = pd.read_csv('Pfizer-TT1_Journal_Data.llc', sep='\t')

In [40]:
df.dropna(subset=['TO'], inplace=True)

In [41]:
#df

In [42]:
noneed=['MEDIA','SUBJECT','MESSAGEID','INFO']

In [43]:
df['TO'] = df['TO'].astype('str')

In [44]:
df.drop(noneed,axis=1,inplace=True)

In [45]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [46]:
#df

In [47]:
dfS = pd.read_csv('TT1_HR_File.csv', usecols=[0])
#fS

In [48]:
#limit the items in the first col to subjects in DFS
df = df[df.iloc[:, 0].isin(dfS.iloc[:, 0])]

In [49]:
def sep_add(df):
    # Split recipients in the To column
        df['TO'] = df['TO'].str.split(',')

        # Create new columns for cc and bcc
        df['Cc'] = ''
        df['Bcc'] = ''

        # Iterate over each row and distribute recipients to the appropriate new columns
        for i, row in df.iterrows():
            recipients = row['TO']
            recipient_types = row['RECIPIENTTYPE'].split(',')
            to_recipients = []
            cc_recipients = []
            bcc_recipients = []
            for j, recipient in enumerate(recipients):
                recipient_type = recipient_types[j % len(recipient_types)]
                if recipient_type == 'to':
                    to_recipients.append(recipient)
                elif recipient_type == 'cc':
                    cc_recipients.append(recipient)
                elif recipient_type == 'bcc':
                    bcc_recipients.append(recipient)
            df.at[i, 'TO'] = ','.join(to_recipients)
            df.at[i, 'Cc'] = ','.join(cc_recipients)
            df.at[i, 'Bcc'] = ','.join(bcc_recipients)
        return df

In [50]:
sep_add(df)

,FROM,TO,RECIPIENTTYPE,DIRECTION,DATETIME,Cc,Bcc
0,347751@0.test,575016@0.test,to,internal,1679607390,,
1,347751@0.test,"299106@0.test,169679@0.test","to,to",inbound,1677411029,,
2,960003@0.test,521333@0.test,to,internal,1679665889,,
3,706442@0.test,841543@0.test,to,internal,1674927931,,
6,277592@0.test,"930045@0.test,489997@0.test","to,to,cc",internal,1674858838,277592@0.test,
...,...,...,...,...,...,...,...
81512,802847@0.test,348880@0.test,"to,cc,cc",internal,1678198763,"545921@0.test,443988@0.test",
81513,376405@0.test,831060@0.test,to,internal,1678715543,,
81515,124818@0.test,778066@0.test,to,internal,1676299986,,
81516,347751@0.test,768000@0.test,to,internal,1674920325,,
81517,562275@0.test,994304@0.test,to,internal,1678380169,,

In [51]:
# list of users activity 
df1=df.groupby('FROM').agg({'TO': 'nunique', 'Cc': 'nunique', 'Bcc': 'nunique'})\
  .sort_values(['TO', 'Cc', 'Bcc'], ascending=False).head(50)

In [54]:
df1.to_csv('tt1_counts.csv')

In [52]:
df1

                TO   Cc  Bcc
FROM
752520@0.test  640  404    2
376405@0.test  615  240   10
706442@0.test  573  159   32
347751@0.test  571  230   10
707816@0.test  488  233   20
327239@0.test  413  207    1
118350@0.test  388  150    6
277592@0.test  367  110    6
124818@0.test  362  100    2
960003@0.test  297  151   12
234531@0.test  269  115    1
802847@0.test  240   69    6
562275@0.test  177  120    1
930045@0.test  162   33    1
386957@0.test  133   60    3
594297@0.test   96   28    2